.g-button {
    color: var(--g-button_text-color, black);
    box-sizing: content-box;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px 20px 8px;
    outline: 0;
    border: 1px solid var(--g-button_border-color, black);;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.g-button.g-button-s {
    font-size: 14px;
    padding: 6px 15px 6px;
}

.g-button.g-button-icon-s {
    width: 28px;
    height: 28px;
    padding: 0;
}

.g-button.g-button-icon-s::after {
    top: 2px;
    left: 2px;
}

.g-button::after {
    content: "";
    background-color: var(--g-button_bg-color, #ffe54c);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 4px;
    left: 4px;
    transition: 0.2s;
}

.g-button.g-button-negative {
    border-color: var(--g-button_negative-border-color, var(--g-button_border-color));
    color: var(--g-button_negative-text-color, var(--g-button_text-color));
}

.g-button.g-button-negative::after {
    background-color: var(--g-button_negative-bg-color, var(--g-button_bg-color));
}

.g-button:hover::after {
    top: 0;
    left: 0;
}