.timelines-container {
    overflow-x: auto;
}

.top-section {
    display: flex;
}

.top-left-container,
.player-container,
.edit-controls-container {
    flex: 1;
}

.player-container {
    border: 1px solid gray;
    text-align: center;
}

.player-controls-container {
    background-color: lightgray;
    padding: 5px 0;
}