html,
body {
    height: 100%;
}

body {
    font-family: Arial, serif;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: var(--echo_bg-color, white);
    color: var(--echo_text-color, black);
    
    --echo_primary-color: #117b77;
    --echo_secondary-color: #b22042;
    --echo_negative-color: #862931;

    --echo_bg-color: #121212;
    --echo_text-color: #d3d3d3;

    --g-button_bg-color: var(--echo_primary-color);
    --g-button_border-color: #0c5754;
    --g-button_text-color: #121212;
    --g-button_negative-bg-color: var(--echo_negative-color);
    --g-button_negative-border-color: #5e1d23;
    --g-button_negative-text-color: var(--g-button_text-color);
    --g-button_secondary-bg-color: var(--echo_secondary-color);
    --g-button_secondary-border-color: #871832;
    --g-button_secondary-text-color: var(--g-button_text-color);

    --animation-editor_player-border-color: var(--g-button_border-color);
    --player_bg-color: var(--echo_bg-color);
    --player_controls-bg-color: #1d1d1d;

    --timeline-board_pick-area-color: #1f1f1f;
    --timeline-board_vertical-line-color: var(--echo_secondary-color);
    --timeline-board_pick-line-color: #a3a3a3;
    --timeline-board_pick-line-highlight-color: var(--echo_text-color);
    --timeline-board_text-color: var(--timeline-board_pick-line-highlight-color);

    --block_bg-color: #7e7e7e;
    --block_border-color: #5d5d5d;
    --block_selected-bg-color: #929191;
    --block-handles_bg-color: var(--echo_primary-color);
    --block-handles_shadow-color: #083b39;

    --block-editor_block-border-color: var(--block_border-color);
    --block-editor_block-bg-color: var(--block_bg-color);
    --block-editor_block-hover-border-color: var(--echo_secondary-color);

    --modal-template_bg-color: var(--echo_bg-color);
    --image-to-select_image-selected-border-color: var(--echo_secondary-color);
    --image-to-select_name-bar-bg-color: #1f1f1f;
    --image-to-select_image-border-color: var(--block_border-color);
    --image-to-select_image-bg-color: var(--block_bg-color);
}


