html,
body {
    height: 100%;
}

body {
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.modal-section {
    display: flex;
    flex-direction: column;
}

.top-section {
    min-width: 0;
    display: flex;
}

.bottom-section {
    overflow-x: auto;
    overflow-y: auto;
}

.top-left-container,
.player-container,
.edit-controls-container {
    flex: 1;
}

.player-container {
    border: 1px solid gray;
    text-align: center;
}

.player-controls-container {
    background-color: lightgray;
    padding: 5px 0;
}

/* Reset button */
button {
    padding: 0;
    box-sizing: content-box;
    border: none;
    background: none;
}