.modal-template {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}

.modal-template_backdrop {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
}

.modal-template_container {
    background: var(--modal-template_bg-color, white);
    width: 40%;
    min-width: 400px;
    z-index: 1;
    align-self: center;
    min-height: 400px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    overflow-y: auto;
    margin: 20px 0;
}

/* Scrollbar FireFox*/
.modal-template_container {
    scrollbar-width: thin;
    scrollbar-color: transparent #c3c3c3; 
}

/* Scrollbar Rest*/
.modal-template_container::-webkit-scrollbar {
    width: 14px;
}
.modal-template_container::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
    border-radius: 20px;
    border: 3px solid var(--modal-template_bg-color, white);
}
