.timeline-bar_draw-thumbnail {
    height: 100px;
    width: auto;
    position: absolute;
}

.timeline-bar_block {
    flex: 0 0;
    box-shadow: inset 0 0 0 1px #ccc;
    position: relative;
}

.timeline-bar_block-container {
    display: flex;
    height: 100px;
}

.timeline-bar_block-container ~ .timeline-bar_block-container {
    margin-top: 10px;
}