.timeline-vertical-line_line {
  left: 0;
  margin-left: 14px;
  position: absolute;
  border-right: 3px solid var(--timeline-board_vertical-line-color, black);
  display: block;
  height: 100%;
  z-index: 300;
  pointer-events: none;
}