html,
body {
    height: 100%;
    margin: 0;
}

button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 4px 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

.buttons-container .button + .button {
    margin-left: 5px;
}

.button[disabled] {
    position: relative;
    cursor: default;
}

.button[disabled]::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #cccccccc;
    z-index: 1;
}

.button:where(.button-tight) {
    padding: 0;
}

.button:where(.button-small) {
    padding: 2px 4px;
    font-size: 14px;
}

.button:where(.button-positive) {
    color: white;
    background-color: #198754;
    border-color: #198754;
}

.button:where(.button-positive-alt) {
    color: white;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.button:where(.button-danger) {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.button:where(.button-icon) {
    font-size: 1em;
    line-height: 1em;
    padding: 0;
    width: 26px;
    height: 26px;
}

.button:hover:not([disabled]) {
    box-shadow: 2px 2px 0 #000;
    transform: translate(-2px,-2px);
}

.button:focus-visible{
    box-shadow: 2px 2px 0 #000;
}

.modal-container {
    font-family: sans-serif;
}