.edit-reaction {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.edit-reaction_form-alternative-container + .edit-reaction_form-alternative-container {
  border-top: 1px solid gray;
  padding: 5px 0;
}

.edit-reaction_buttons-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.edit-reaction_trigger-container {
  display: inline-block;
}

.edit-reaction_trigger-container + .edit-reaction_trigger-container {
  margin-left: 5px;
}