.timeline-board {
    position: relative;
    display: block;
}

.timeline-board_vertical-line {
    position: absolute;
    border-right: 1px solid black;
    display: block;
    height: 100%;
    z-index: 300;
}

.timeline-board_frame-pick-area {
    height: 50px;
    background-color: lightcyan;
}