.select-image-modal {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    row-gap: 15px;
}

.select-image-modal .image-to-select {
    cursor: pointer;
}
